<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="container">
  <div class="col-md-8 offset-2">
  <form>
    <div class="form-group row">

      <div class="col-sm-3">
        <label for="alcoholContent">Alcohol Content</label>
        <input [(ngModel)]="alcoholContent" name="alcoholContent" type="number" class="form-control" id="alcoholContent" placeholder="%">
      </div>
      <div class="col-sm-3">
        <label for="beerName">Name</label>
        <input [(ngModel)]="beerName" type="text" class="form-control" id="beerName" name="beerName" placeholder="Beer Name">
      </div>
      <div class="col-sm-3">
        <label for="beerBrand">Brand</label>
        <input [(ngModel)]="beerBrand" name="beerBrand" type="text" class="form-control" id="beerBrand" placeholder="Beer Brand">
      </div>
      <div class="col-sm-3">
        <label for="beerPrice">Price</label>
        <input [(ngModel)]="beerPrice" name="beerPrice" type="number" pattern="[0-9.]" class="form-control" id="beerPrice" placeholder="$/pint">
      </div>
    </div>
    <button (click)="someMethod(alcoholContent, beerName, beerBrand, beerPrice)" type="button" class="btn btn-primary" pattern="[0-9.]">Add Keg</button>
    <button (click)="checkKegs(); mainShow=false; lowShow=true" type="button" class="btn btn-primary">Low Kegs</button>
  </form>

    <div *ngIf="mainShow" class=div.table id="fullTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">%</th>
            <th scope='col'>Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Pints</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let keg of kegs">
            <th scope='row'><button class="btn btn-success" (click)="kegEdit(keg)">Edit</button></th>
            <td>{{keg.alcoholContent.toFixed(2)}}%</td>
            <td>{{keg.name}}</td>
            <td>{{keg.brand}}</td>
            <td>${{keg.price.toFixed(2)}}</td>
            <td>{{keg.pints}}</td>
            <th scope='row'><button class="btn btn-danger" (click)="kegSell(keg); checkKegs()">Sell</button></th>
          </tr>

        </tbody>
      </table>
    </div>

    <div *ngIf="lowShow" class=div.table id="fullTable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">%</th>
            <th scope='col'>Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Pints</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let keg of lowKegs">
            <th scope='row'><button class="btn btn-success" (click)="kegEdit(keg)">Edit</button></th>
            <td>{{keg.alcoholContent.toFixed(2)}}%</td>
            <td>{{keg.name}}</td>
            <td>{{keg.brand}}</td>
            <td>${{keg.price.toFixed(2)}}</td>
            <td>{{keg.pints}}</td>
            <th scope='row'><button class="btn btn-danger" (click)="kegSell(keg); checkKegs()">Sell</button></th>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <div *ngIf="editKeg" class="col-md-8 offset-2">
    <h3>{{editKeg.name}}</h3>
    <label>Name:</label>
    <input [(ngModel)]="editKeg.name">
    <br>
    <label>Brand:</label>
    <input [(ngModel)]="editKeg.brand">
    <br>
    <label>Alcohol Content:</label>
    <input [(ngModel)]="editKeg.alcoholContent" type="number" pattern="[0-9.] {4}">
    <br>
    <label>Price:</label>
    <input [(ngModel)]="editKeg.price" type="number">
    <br>
    <button (click)="editKeg = null" class="btn btn-danger">Delete</button>
    <button (click)="editKeg = null" class="btn btn-warning">Close</button>

  </div>
</div>
